- if params[:model_name] == "category"
  %h3 ショートカット
  .list
    %h4 type
    :javascript
      function setType(name)
      {
        $("*[name='category[category_type]']").val(name);
      }
    %ul
      %li
        %a{onclick: "setType('fashion_magazine')"} fashion_magazine
      %li
        %a{onclick: "setType('gadget_magazine')"} gadget_magazine
    .clear
    %h4 organization
    :javascript
      function setOrganization(name)
      {
        $("*[name='category[organization]']").val(name);
      }
    %ul
      %li
        %a{onclick: "setOrganization('インデックス・コミュニケーションズ')"} インデックス・コミュニケーションズ
    .clear
    %h4 font family
    :javascript
      function setFontFamily(name)
      {
        $("*[name='category[font_family]']").val(name);
      }
    %ul
      %li
        %a{onclick: "setFontFamily('Helvetica-Bold')"} Helvetica-Bold
    .clear

%div{style: "float: left"}
  = rails_admin_form_for @object, :url => new_path(:model_name => @abstract_model.to_param), :as => @abstract_model.param_key, :html => { :multipart => true, :class => "form-horizontal denser", :data => { :title => @page_name } } do |form|
    = form.generate :action => :create


%div{style:"float:left"}
  - if params[:model_name] == "source"
    .alert.alert-info{style: "margin-left:20px;"}
      クリックで選べるよ
      %br/
      :javascript
        function setType(name)
        {
          $("*[name='source[source_type]']").val(name);
        }
      %ul
        - Source.all.select('source_type').uniq.each do |type|
          %li
            %a{onclick: "setType('#{type.source_type}')"}= type.source_type

    .alert.alert-info{style: "margin-left:20px;"} 例） http://ameblo.jp/tanaka--miho/

    .alert.alert-info{style: "margin-left:20px;"} 例） http://feedblog.ameba.jp/rss/ameblo/tanaka--miho/rss20.xml

    .alert.alert-info{style: "margin-left:20px;"} 例）田中美保オフィシャルブログ｢340112!!｣Powered by Ameba

    .alert.alert-info{style: "margin-left:20px;"}
      クリックで選べるよ
      %br/
      :javascript
        function setPurpose(name)
        {
          $("*[name='source[purpose]']").val(name);
        }
      %ul
        %li
          %a{onclick: "setPurpose('articles')"} articles
      .clear

    .alert.alert-info{style: "margin-left:20px;"} Yes → 1 / No → 0